<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Text Generation</title>
  <link rel="stylesheet" href="../static/css/text_generation.css">
</head>
<body>
    <div class="ml-container" style="background-color: #1e1e1e	">
		<div>
			<form action="{{  url_for('index')}}" method='POST'>
				<input class="button__back" style="background-color: whitesmoke; color: black; font-weight: bold;" type="submit" value="BACK">
			</form>
		</div>
		<div style="padding: 20px;">
			<h1 style="color: orange;">Choose weights for you model</h1>
			<select class="select-css">
				<option style="font-weight: bold;" value="text_generation_weights">BASIC WEIGHTS</option>
				<option style="font-weight: bold;" value="english_weights">ENGLISH WEIGHTS</option>
				<option style="font-weight: bold;" value="twitter_weights">TWITTER WEIGHTS</option>
				<option style="font-weight: bold;" value="shakespeare_weights">SHAKESPEARE WEIGHTS</option>
			</select>
			<br><br>
			<h1 style="color: orange; ">Choose max length for generated text and temperatures</h1>
			<form style="color: white;">
				MAX LENGTH: <input type="text" name="max_length" style="font-size: 1em;">
				&nbsp; &nbsp;TEMPERATURES: <input type="text" name="temperatures" style="font-size: 1em;">
			</form>
		</div>
	</div>
</body>