<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Text Generation</title>
  <link rel="stylesheet" href="../static/css/text_generation.css">
</head>
<body>
    <div class="ml-container" style="background-color: #1e1e1e	">
		<div>
			<form action="{{  url_for('index')}}" method='POST'>
				<input class="button__back" style="background-color: whitesmoke; color: black; font-weight: bold;" type="submit" value="BACK">
			</form>
		</div>
		<div style="padding: 20px;">
			<h1 style="color: orange;">Choose weights for you model</h1>
			<select class="select-css">
				<option style="font-weight: bold;" value="text_generation_weights">BASIC WEIGHTS</option>
				<option style="font-weight: bold;" value="english_weights">ENGLISH WEIGHTS</option>
				<option style="font-weight: bold;" value="twitter_weights">TWITTER WEIGHTS</option>
				<option style="font-weight: bold;" value="shakespeare_weights">SHAKESPEARE WEIGHTS</option>
			</select>
			<br><br>
			<h1 style="color: orange; ">Choose max length for generated text and temperatures</h1>
			<form style="color: white;">
				MAX LENGTH: <input type="text" name="max_length" style="font-size: 1em;" placeholder="1000">
                &nbsp; &nbsp;TEMPERATURES: <input type="text" name="temperatures" style="font-size: 1em;" placeholder="0.2, 0.4, 0.8, 1"> 
            </form>
            <br/><br/><br/><h1 style="color: rosybrown">YOU CAN ALSO UPLOAD YOUR FILE WITH TEXT AND GET GENERATED TEXT BASED ON CHOOSEN WEIGHTS AND TEXT FROM YOUR FILE!</h1>
            <br><br><br><input class="button__back" style="background-color: goldenrod; color: black; font-weight: bold; height: 80px; width: 240px;" type="submit" value="UPLOAD TXT FILE">
        </div>
	</div>
</body>